openapi: 3.0.0

info:
  title: Пример API для работы с пользователями
  description: API для создания, получения, обновления и удаления пользователей.
  version: 1.0.0

security:
  - api_key: []

servers:
  - url: https://api.documentat.io/api/prod
    description: Основной сервер
  - url: https://api.documentat.io/api/dev
    description: Тестовый сервер

paths:
  /users:
    get:
      summary: Получить список всех пользователей
      operationId: usersGET
      tags:
        - users
      parameters:
        - name: limit
          in: query
          required: false
          description: Максимальное количество элементов на странице
          schema:
            type: integer
            default: 10
      responses:
        '200':
          $ref: '#/components/responses/UserListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Создать нового пользователя
      operationId: usersPOST
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '201':
          $ref: '#/components/responses/UserCreationSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

  /users/{id}:
    get:
      summary: Получить информацию о пользователе по ID
      operationId: usersIdGET
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Обновить все данные о пользователе
      operationId: usersIdPUT
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      requestBody:
        required: true
        description: Необходимо указать состав всех полей с информацией о пользователе
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      summary: Обновить часть данных о пользователе
      operationId: usersIdPATCH
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      requestBody:
        required: true
        description: Необходимо указать состав тех полей, куда вносятся изменения
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialUserUpdate'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Удалить пользователя
      operationId: usersIdDELETE
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '204':
          $ref: '#/components/responses/UserDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    User:
      type: object
      required:
        - id
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        id:
          type: integer
          format: int64
          description: Уникальный идентификатор пользователя
          example: 123
        username:
          type: string
          description: Логин пользователя
          example: iivanov
        email:
          type: string
          description: Электронная почта пользователя
          example: ivanov@example.ru
        firstName:
          type: string
          description: Имя пользователя
          example: Иван
        lastName:
          type: string
          description: Фамилия пользователя
          example: Иванов
        address:
          type: object
          description: Адрес пользователя
          properties:
            country:
              type: string
              description: Страна
              example: Россия
            city:
              type: string
              description: Город
              example: Москва
            street:
              type: string
              description: Улица
              example: Пушкина
            house:
              type: string
              description: Дом
              example: 5
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          description: Возраст пользователя
          example: 30
        isEmployee:
          type: boolean
          default: true
          description: Является сотрудником
        accountStatus:
          type: string
          default: active
          description: Статус аккаунта пользователя
          enum:
            - active
            - inactive
            - suspended

    CreateUser:
      type: object
      required:
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        username:
          type: string
          description: Логин пользователя
          example: iivanov
        email:
          type: string
          description: Электронная почта пользователя
          example: ivanov@example.ru
        firstName:
          type: string
          description: Имя пользователя
          example: иван
        lastName:
          type: string
          description: Фамилия пользователя
          example: Иванов
        address:
          type: object
          description: Адрес пользователя
          properties:
            country:
              type: string
              description: Страна
              example: Россия
            city:
              type: string
              description: Город
              example: Москва
            street:
              type: string
              description: Улица
              example: Пушкина
            house:
              type: string
              description: Дом
              example: 5
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          description: Возраст пользователя
          example: 30
        isEmployee:
          type: boolean
          default: true
          description: Является сотрудником
        accountStatus:
          type: string
          default: active
          description: Статус аккаунта пользователя
          enum:
            - active
            - inactive
            - suspended

    PartialUserUpdate:
      type: object
      properties:
        username:
          type: string
          description: Логин пользователя
          example: iivanov
        email:
          type: string
          description: Электронная почта пользователя
          example: ivanov@example.ru
        firstName:
          type: string
          description: Имя пользователя
          example: Иван
        lastName:
          type: string
          description: Фамилия пользователя
          example: Иванов
        address:
          type: object
          properties:
            country:
              type: string
              description: Страна
              example: Россия
            city:
              type: string
              description: Город
              example: Москва
            street:
              type: string
              description: Улица
              example: Пушкина
            house:
              type: string
              description: Дом
              example: 5
          description: Адрес пользователя
        age:
          type: integer
          description: Возраст пользователя
          example: 30
        isEmployee:
          type: boolean
          default: true
          description: Является сотрудником
        accountStatus:
          type: string
          default: active
          description: Статус аккаунта пользователя
          enum:
            - active
            - inactive
            - suspended

    error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Код статуса ответа
        message:
          type: string
          description: Текст ответа

  responses:
    UserListSuccess:
      description: Список пользователей успешно получен
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'

    Success:
      description: Данные успешно получены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserCreationSuccess:
      description: Пользователь успешно создан
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserUpdateSuccess:
      description: Данные пользователя успешно обновлены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserDeleteSuccess:
      description: Пользователь успешно удален

    UserNotFound:
      description: Пользователь не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    Unauthorized:
      description: Не осуществлена авторизация в Системе
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    Conflict:
      description: Запрос не может быть выполнен из-за конфликтного обращения к ресурсу
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    MethodNotAllowed:
      description: Указанный метод нельзя применить к текущему ресурсу
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    ServerError:
      description: Ошибка обработки запроса со стороны сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    UnprocessableEntity:
      description: Запрос отправлен, но обнаружена логическая ошибка, из-за которой невозможно провести операцию над ресурсом
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

  securitySchemes:
    api_key:
      type: apiKey
      name: Token
      in: header

tags:
  - name: users
    description: Операции с пользователями